jinja2==3.1.6
mkdocs==1.5.3
Pygments==2.17.2
pymdown-extensions==10.7.1
mkdocs-minify-plugin==0.8.0
mkdocs-markdownextradata-plugin==0.2.5
mkdocs-redirects==1.2.1
mkdocs-material==9.5.6
markdown-include==0.8.1
markdown==3.5.2
mkdocs-exclude==1.0.2