# Choreo Connect Enforcer Configuration Catalog

This document describes all the configuration parameters that are used in WSO2 Choreo Connect Enforcer.

## Instructions for use

1. {!includes/deploy/cc-configuration-file.md!}

2. Select the configuration sections, parameters, and values that are required for your use and add them as required. You can click ***view sample*** in each of the sections in this page to get the toml format. 
See the example .toml file given below.

```toml
# This is an example .toml file.
[enforcer.authService]
  port = 8081
  maxMessageSize = 1000000000
  maxHeaderLimit = 8192
  keepAliveTime = 600

[enforcer.authService.threadPool]
  coreSize = 400
  maxSize = 500
  keepAliveTime = 600
  queueSize = 1000

```
{% set parameters = {'comp': 'enforcer'} %}
{% include "../templates/_configs.njk" %}
