# Performance Tuning and Testing Results

The topics in this section provide performance tuning recommendations for the WSO2 API Manager (WSO2 API-M) and the results of performance tests that were carried out on WSO2 API-M.

-   [Tuning Performance](_Tuning_Performance_)
-   [WSO2 API-M Performance and Capacity Planning](_WSO2_API-M_Performance_and_Capacity_Planning_)

