<!-- Fix for HTML files loads with wrong resource relative paths when the trailing slash is missing -->
<script>
    // Check if the path does not end with a slash and has no file extension
    if (!window.location.pathname.endsWith('/') && !window.location.pathname.split('/').pop().includes('.')) {
        var newPath = window.location.pathname + '/' + window.location.search + window.location.hash;
        window.location.replace(newPath);
    }
</script>

<script>__md_scope=new URL("{{ config.extra.scope | d(base_url) }}",location),__md_hash=e=>[...e].reduce(((e,_)=>(e<<5)-e+_.charCodeAt(0)),0),__md_get=(e,_=localStorage,t=__md_scope)=>JSON.parse(_.getItem(t.pathname+"."+e)),__md_set=(e,_,t=localStorage,a=__md_scope)=>{try{t.setItem(a.pathname+"."+e,JSON.stringify(_))}catch(e){}}</script>

<!-- Google Tag Manager -->
<script>
  (function(w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      'gtm.start': new Date().getTime(),
      event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != 'dataLayer' ? '&l=' + l : '';
    j.setAttributeNode(d.createAttribute('data-ot-ignore'));
    j.async = true;
    j.src =
      'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-PSTXMT');
</script>
<!-- End Google Tag Manager -->

<!-- CookiePro Cookies Consent Notice start for wso2.com -->
<script src="https://cookie-cdn.cookiepro.com/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="486163bc-a8c5-40d8-b185-c707cc718a23" ></script>
<script type="text/javascript">
  function OptanonWrapper() { }
</script>
<!-- CookiePro Cookies Consent Notice end for wso2.com -->

{% for path in config.extra_javascript %}
<script src="{{ path | url }}"></script>
{% endfor %}

<script>
  function trackEvent(eventName, properties) {
    if (moesif) {
      moesif.track(eventName, {
        product: "api",
        asset_type: "docs",
        domain: window.location.hostname,
        page_url: window.location.pathname,
        ...properties,
      });
    }
  }
  
  document.addEventListener("DOMContentLoaded", function () {
    trackEvent("Page-Viewed", { page_title: document.title });
  });
</script>
