
:root {
    --md-primary-fg-color: #ff7043;
    --md-primary-fg-color--light: #ee9653;
    --md-primary-fg-color--dark: #303fa1;
    --md-primary-bg-color: #fff;
    --md-primary-bg-color--light: #ffffffb3;
    --md-accent-fg-color: #ff7043;
    --md-accent-fg-color--transparent: #526cfe1a;
    --md-accent-bg-color: #fff;
    --md-accent-bg-color--light: #ffffffb3;
    --md-hjs-color: #00f;
}
:root {
    --md-text-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --md-code-font: 'Source Sans Pro', sans-serif;
}
/* colors for dark theme */
[data-md-color-scheme="slate"] {
    --md-primary-fg-color-header-background: #23272f;
    --md-primary-fg-color-header: #23272f;
    --md-primary-fg-color-header-text: #f5f6f7;
    --md-primary-fg-color-header-text-active: #d6ab8a;
    --md-default-bg-color: #23272f;
    --md-typeset-a-color: #e8ca97;
    --md-hjs-color: rgb(186, 186, 255);
    --md-logo: transparent url(../img/logo.svg) no-repeat left top;
    --md-header-options-color: #ff7043;
    --md-homepage-h3-color: #d5ac8d;
    --md-section03-bg-color: #23272f;
    --md-section05-bg-color: #23272f;
    --md-typeset-td-bg-color: #23272f;
}
/* colors for the light theme */
[data-md-color-scheme="default"] {
    --md-primary-fg-color-header-background: #ffffff;
    --md-primary-fg-color-header: #f5f5f5;
    --md-primary-fg-color-header-text: #000;
    --md-primary-fg-color-header-text-active: #ff7043;
    --md-default-bg-color: #ffffff;
    --md-typeset-a-color: var(--md-primary-fg-color);
    --md-logo: transparent url(../img/logo-for-light.svg) no-repeat left top;
    --md-homepage-h3-color: #333;
    --md-section03-bg-color: #EBEBEB;
    --md-section05-bg-color: #ebebeb;
    --md-nav-list-text-color: #424242;
    --md-footer-bg-color: #f5f5f5;
    --md-footer-text-color: #424242;
    --md-footer-copyright-bg-color: #BDBDBD;
    --md-typeset-table-bg-color: #e8e8e8;
}
.md-tabs {
    background-color: var(--md-primary-fg-color-header);
    color: var(--md-primary-fg-color-header-text);
}
.md-tabs__link--active, .md-tabs__link:focus, .md-tabs__link:hover {
    color: var(--md-primary-fg-color-header-text-active);
    fill: var(--md-primary-fg-color-header-text-active);
}
.hljs-built_in, .hljs-keyword, .hljs-name, .hljs-selector-tag, .hljs-tag {
    color: var( --md-hjs-color);
}
.banner-link {
    width: 800px;
    height: 400px;
}
.md-header {
    background-color: var(--md-primary-fg-color-header-background) !important;
    color: #212121 !important;
    border-top: solid 5px var(--md-primary-fg-color);
}
.md-header__button.md-logo img{
    display: none;
}
.md-header__button.md-logo {
    background: var(--md-logo);
    display: inline-block;
    width: 67px;
    height: 26px;
}

.md-typeset a {
    color: #3f51b5;
}

.md-header__inner {
    color: var(--md-header-options-color);
}

.homePage h3 {
    color: var(--md-homepage-h3-color);
}

.section03 {
    background: var(--md-section03-bg-color);
}

.section05 {
    background: var(--md-section05-bg-color);
}

.md-typeset__td {
    background-color: var(--md-typeset-td-bg-color);
}

.md-nav--lifted>.md-nav__list>.md-nav__item>[for] {
    color: var(--md-nav-list-text-color) ;
}

.md-footer-meta {
    background-color: var(--md-footer-copyright-bg-color);
}

.md-footer>.md-grid {
    background-color: var(--md-footer-bg-color);
    color: var(--md-footer-text-color);
}

.md-typeset table:not([class]) th {
    background-color: var(--md-typeset-table-bg-color) ;
}